<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<script src="__JS__/jquery-1.10.2.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
	<title>Document</title>
	<style type="text/css">
	html,body{
		width: 100%;height: 100%;padding: 0;margin: 0;
	}
	</style>

</head>
<body>
	<!-- 导航栏 -->

<nav class="navbar" >
   <div class="header">
      <img src="__IMG__/log_03.png" alt="首页log图">
   </div>
   <div>
      <form class="nav-fro" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入关键字">
         </div>
      </form> 
         
   </div>
   <span class="glyphicon glyphicon-search" style="margin-top:15px;font-size:20px;color:gray;margin-left:7px;"></span> 
</nav>
<!--  nav over -->
	<div id="myCarousel" class="carousel slide">
   <!-- 轮播（Carousel）指标 -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   <!-- 轮播（Carousel）项目 -->
   <div class="carousel-inner">
      <div class="item active">
         <img src="__IMG__/toptututu_06.png" alt="First slide">
         <div class="carousel-caption">标题 1</div>
      </div>
      <div class="item">
         <img src="__IMG__/toptututu_06.png" alt="Second slide">
         <div class="carousel-caption">标题 2</div>
      </div>
      <div class="item">
         <img src="__IMG__/toptututu_06.png" alt="Third slide">
         <div class="carousel-caption">标题 3</div>
      </div>
   </div>
   <!-- 轮播（Carousel）导航 -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div> 
<!--over-->

<nav class="nav" id="nav_bar" style="margin-left: 10px;margin-top:10px;border-top: 2px solid #e1e5e9;">
   <ul class="list-inline">
         <!--  <p class="bl_line"></p> -->
      <li class="col-xs-4">
         <span style="opacity: 0;filter: alpha(opacity=0);"></span>
         <a href="javascript:void(0)">
            <img src="__IMG__/uuuuuuuuu.png" style="width:40px;">
         <em class="public_active">秘制汤品</em>
      </a></li>
		<li class="col-xs-4">
         <span style="opacity: 0.6;filter: alpha(opacity=60);"></span>
         <a href="">
			<img src="__IMG__/kkkkkkk.png" style="width:40px;">
			<em>特色菜品</em>
		</a></li>
		<li class="col-xs-4">
            <span style="opacity: 0.6;filter: alpha(opacity=60);"></span>
         <a href="">
			<img src="__IMG__/ooooooo.png" style="width:40px;">
			<em>门店分布</em>
		</a></li>
	</ul>
</nav>
<div class="empty"></div>
<!-- 秘制汤品 -->
<div class="cent">
   <!-- <h4 >秘制汤品</h4> -->
   <p style="text-align:center;margin-top:-7px;margin-bottom:10px;"><i><img src="__IMG__/yyyyyy_03.png" style="width:120px;height:25px;"></i></p>
   <div class="tang">
      <a href=""><img src="__IMG__/niupai_21.png"></a>
   </div>
   <div>
      <span class="haha">板栗鸡汤<i><img src="__IMG__/mizhi_03.png" style="width:55px;height:20px;"></i></span>
      <span><i><img src="__IMG__/zanzanzan_07.png"
         style="width:20px;height:20px;float:right;margin-right:15px;"></i></span>
   </div>
   <div>
      <span class="haha">推荐指数：<i><img src="__IMG__/xingxing_03.png" style="width:80px;height:15px;"></i></span>
      <span style="float:right;margin-right:15px;">20赞</span>
   </div>
</div>
<div class="cent">

   <div class="tang">
      <a href=""><img src="__IMG__/niupai_21.png"></a>
   </div>
   <div>
      <span class="haha">板栗鸡汤<i><img src="__IMG__/mizhi_03.png" style="width:55px;height:20px;"></i></span>
      <span><i><img src="__IMG__/zanzanzan_07.png"
         style="width:20px;height:20px;float:right;margin-right:15px;"></i></span>
   </div>
   <div>
      <span class="haha">推荐指数：<i><img src="__IMG__/xingxing_03.png" style="width:80px;height:15px;"></i></span>
      <span style="float:right;margin-right:15px;">20赞</span>
   </div>
</div>
</div>
</body>
<script type="text/javascript"> 
 $(document).ready(function() {
	/*轮播图的js*/
	  $("#myCarousel").carousel({
			interval:2000
		});
     /*菜品选择*/
    /* $(".col-xs-4 a").click(function(){
          $(this).addClass('public_active').parent().siblings().children().removeClass('public_active');
        });*/
     /*菜品选择的导航*/
   if(navigator.userAgent.indexOf("MSIE 6.0") > 0){
        $(' nav_bar .list-inline .col-xs-4 span').hide();
        $('.col-xs-4').hover(function () {
            var i = $(this).index();
            $(this).siblings('.bl_line').stop().animate({left:(i-1)*$('a').width()+60+'px'});
          /*  $(this).parent('#nav_bar').siblings('.col-xs-4').find('p').eq(i-1).show().siblings('p').hide();*/
        })
    }else{
        $('.col-xs-4').hover(function () {
            var i = $(this).index();
            $(this).find('span').stop().animate({opacity:0}).siblings('.col-xs-4').find('span').stop().animate({opacity:0.6});
            $(this).siblings('.col-xs-4').find('span').stop().animate({opacity:0.6});
            $(this).siblings('.bl_line').stop().animate({left:(i-1)*$('a').width()+60+'px'});
            $(this).parent('.list-inline').siblings().find('p').eq(i-1).stop().animate({opacity:1},300);
            $(this).parent('.list-inline').siblings().find('p').eq(i-1).siblings('p').stop().animate({opacity:0},300);
        })
    }
        
     });
</script>
</html>