<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{:C('WEB_SITE_TITLE')}</title>
<link href="__bootstrap__/css/bootstrap.css" rel="stylesheet">
<link href="__bootstrap__/css/bootstrap-theme.css" rel="stylesheet">
<link href="__FontAwesome__/css/font-awesome.css" rel="stylesheet">


<!--flatui-->
<link href="__BUTTON__/css/buttons.css" rel="stylesheet">
<link href="__CSS__/user.css" rel="stylesheet">
<link href="__CSS__/company.css" rel="stylesheet">
<link href="__CSS__/buywhat.css" rel="stylesheet">
<block name="style"></block>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="__bootstrap__/js/bootstrap.js"></script>
<script type="text/javascript" src="__JS__/buywhat.js"></script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}