<extend name="Public/base" />
<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">账号<span class="check-tips">（登陆名为：账号@微信号 如：dkf@cheewo）</span></label>
            <div class="controls">
                <input type="text" class="text input-small" name="kf_account" value="{$info.title}" /> @ 
                <select name="wechatid">
                	<volist name="WechatConfig" id="WechatConfig">
                    <option value="{$WechatConfig.wechatname}">{$WechatConfig.wechatname}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">昵称</label>
            <div class="controls">
                <input type="text" class="text" name="nickname" value="{$info.title}" />
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">密码</label>
            <div class="controls">
                <input type="password" class="text" name="password" value="{$info.title}" />
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">分组</label>
            <div class="controls">
            	<select name="group">
                	<volist name="DkhGroup" id="DkhGroup">
                		<option value="{$DkhGroup.id}">{$DkhGroup.title}</option>
                    </volist>
                </select>
            </div>
        </div><br />
		<br /><br />
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id}">
            <button class="btn submit-btn " id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
<block name="script">
	<script type="text/javascript">
		//导航高亮
		highlight_subnav('{:U('WechatDkh/index')}');
    </script>
</block>