<volist name="tree" id="list">
	<dl class="cate-item">
		<dt class="cf">
			<form action="{:U('WechatMenu/edit_sort')}" method="post">
				<div class="btn-toolbar opt-btn cf">
					<a title="删除" href="{:U('WechatMenu/del?id='.$list['id'])}" class="confirm ajax-get">删除</a>
				</div>
				<div class="fold"><i></i></div>
				<div class="order"><input type="text" name="sort" class="text input-mini" value="{$list.sort}"></div>
				<div class="name">
					<span class="tab-sign"></span>
					<input type="hidden" name="id" value="{$list.id}">
					<input type="text" name="name" class="text" value="{$list.name}">
                    <a href="{:U('WechatMenu/add?pid='.$list['id'])}" class="add-sub-cate" >
                    	<i class="icon-add"></i>
                    </a>
                    
					<span class="help-inline msg"></span>
				</div>
			</form>
		</dt>
		<notempty name="list['sub_button']">
			<dd>
				{:R('Wechat/menutree', array($list['sub_button']))}
			</dd>
		</notempty>
	</dl>
</volist>