<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{:isset($info['id'])?'编辑':'新增'}运费规则</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">模板标题<span class="check-tips">（用于前台显示的配置标题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">包含地区1<span class="check-tips">（英文逗号分隔）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="contain" value="{$info.contain|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">包含地区1价格</label>
            <div class="controls">
                <input type="text" class="text input-large" name="contain_price" value="{$info.contain_price|default=0}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">包含地区2<span class="check-tips">（英文逗号分隔）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="contain1" value="{$info.contain1|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">包含地区2价格</label>
            <div class="controls">
                <input type="text" class="text input-large" name="contain1_price" value="{$info.contain1_price|default=0}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">包含地区3<span class="check-tips">（英文逗号分隔）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="contain2" value="{$info.contain2|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">包含地区3价格</label>
            <div class="controls">
                <input type="text" class="text input-large" name="contain2_price" value="{$info.contain2_price|default=0}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">不包含价格</label>
            <div class="controls">
                <input type="text" class="text input-large" name="nocontain_price" value="{$info.nocontain_price|default=0}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips">（是否开启）</span></label>
            <div class="controls">
                <select name="status">
                	<option value="1">开启</option>
                    <option value="0">关闭</option>
                </select>
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        Think.setValue("status", {$info.status|default = 1});
        //导航高亮
        highlight_subnav('{:U('index')}');
    </script>
</block>