<extend name="Base/common"/>

<block name="body">
    <style>
        * {
            font-family: Consolas, 微软雅黑;
        }
    </style>
    <div id="myself">
        <div class="head"></div>
        <div class="info">
            <div class="one">
                <div class="tu">
                    <img src="{$info.headimgurl}"/>
                </div>
                <div class="mage">
                    <span>{$info.nickname}</span>
                </div>
					<span class="bg-sp" style="position: absolute;right:1%;z-index:101">
					{$group.title}</span>
            </div>
            <div class="two">
                <div style="padding-left: 85px;">
                    {$group.title}
                </div>
            </div>
            <ul>
                <li>
                    <div>
                        <img src="__IMG__/2.png" style="width:20px;height:20px; margin-left: 5px;">
                    </div>
                    <div class="">
                        <p>个人业绩</p>

                        <p>
                            <a href="javascript:;">{$info.uid|get_yeji_by_uid}</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="__IMG__/tuanduiyeji.png" alt="" style="width:25px;height:20px; margin-left: 5px;">
                    </div>
                    <div class="">
                        <p>团队业绩</p>
                        <p>
                            <a href="javascript:;">{$info.uid|get_yeji}</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="__IMG__/qianbao-.png" style="width:20px;height:20px; margin-left: 5px;">
                    </div>
                    <div class="">
                        <p>可用余额</p>
                        <p>
                            <a href="javascript:;">￥{$info.money}</a>
                        </p>
                    </div>
                </li>

            </ul>
        </div>
        <!--info over-->
        <div class="dingdan">
            <div class="tit">
                <a href="{:U('myorder')}">
                    <div><img src="__IMG__/22.png"/></div>
                    <span>我的订单</span>
                <span class="look">查看全部订单
						<span class="next">›</span>
					</span>
                </a>
            </div>
            <ul>
                <li style="position:relative;">
                    <a href="{:U('myorder?type=0')}">
                        <div>
                            <img src="__IMG__/7.png"/>
                        </div>
                        <span>待支付</span>
                        <em style="font-size:12px;position:absolute;top:0;left:48px;display:block;line-height:14px;width:14px;height:14px;background-color:#ff0026;border-radius:50%;color:#fff;">{:count(get_order_list(0))}</em>
                    </a>
                </li>
                <li style="position:relative;">
                    <a href="{:U('myorder?type=1')}">
                        <div>
                            <img src="__IMG__/diew.png"/>
                        </div>
                        <span>已支付</span>
                        <em style="font-size:12px;position:absolute;top:0;left:48px;display:block;line-height:14px;width:14px;height:14px;background-color:#ff0026;border-radius:50%;color:#fff;">{:count(get_order_list(1))}</em>
                    </a>
                </li>
                <li style="position:relative;">
                    <a href="{:U('myorder?type=2')}">
                        <div>
                            <img src="__IMG__/9.png"/>
                        </div>
                        <span>待评价</span>
                        <em style="font-size:12px;position:absolute;top:0;left:48px;display:block;line-height:14px;width:14px;height:14px;background-color:#ff0026;border-radius:50%;color:#fff;">{:count(get_order_list(2))}</em>
                    </a>
                </li>
                <li>
                    <a href="{:U('myorder?type=3')}">
                        <div>
                            <img src="__IMG__/10.png"/>
                        </div>
                        <span>退货</span>
                    </a>
                </li>

            </ul>
        </div>
        <!--我的订单over-->
        <div class="my_list">
            <a href="{:U('yue')}">
                <div class="list">
                    <div>
                        <img src="__IMG__/yrdswhjvcg.png"/>
                    </div>
					<span>
						我的钱包
					</span>
					<span>
						&rsaquo;
					</span>

                </div>
            </a>
            <a href="{:U('team')}">
                <div class="list">
                    <div>
                        <img src="__IMG__/hdsd.png"/>
                    </div>
					<span>
						我的团队
					</span>
					<span>
						&rsaquo;
					</span>

                </div>
            </a>
            <a href="{:U('coupons')}">
                <div class="list">
                    <div>
                        <img src="__IMG__/hstetet.png"/>
                    </div>
					<span>
						我的优惠券
					</span>
					<span>
						&rsaquo;
					</span>
                </div>
            </a>
            <a href="{:U('Address')}">
                <div class="list">
                    <div>
                        <img src="__IMG__/werer.png"/>
                    </div>
					<span>
						我的收货地址
					</span>
					<span>
						&rsaquo;
					</span>
                </div>
            </a>
            <a href="{:U('myhb')}">
                <div class="list">
                    <div>
                        <img src="__IMG__/money.png"/>
                    </div>
					<span>
						我的红包
					</span>
					<span>
						&rsaquo;
					</span>
                </div>
            </a>
            <a href="{:U('myhb')}">
                <div class="list">
                    <div>
                        <img src="__IMG__/shoucang1111.png"/>
                    </div>
					<span>
						我的收藏
					</span>
					<span>
						&rsaquo;
					</span>
                </div>
            </a>
            <!--list over-->
        </div>
        <!--mylist over-->
    </div>
    <!--bottom nav bar-->
    <div style="height:75px;"></div>
</block>