<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <title>物流</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script rel="script" type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script rel="script" type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-family: Consolas, '微软雅黑';
        }
    </style>
</head>
<body>
<div id="logistics">
    <img src="../../images/jkfdhf_02.png" alt="">
    <div class="text_box">
        <div class="cup">
            <img src="../../images/hdshdshdsh_03.png">
            <span>物流信息</span>
        </div>
        <div class="infor">
            <div class="text">
                <img class="ico" src="../../images/quan1.png">
                <p class="text_p">【成都市】已签收。签收人  林允儿，感谢使用申通快递， 期待再次为您服务。</p>
                <span class="pic_tex"><img src="../../images/24.png"><span>2016-03-01   17:20:30</span></span>
            </div>
            <div class="text">
                <img class="ico ico1" src="../../images/quan2.png">
                <p>【成都市】四川成都华阳营业部派件员：郭德纲 1821111 1111正在为你派件。</p>
                <span class="pic_tex"><img src="../../images/24.png"><span>2016-03-01   17:20:30</span></span>
            </div>
            <div class="text">
                <img class="ico ico1" src="../../images/quan2.png">
                <p>【温州市】浙江温州公司已发出。</p>
                <span class="pic_tex"><img src="../../images/24.png"><span>2016-03-01   17:20:30</span></span>
            </div>
            <div class="text">
                <img class="ico ico1" src="../../images/quan2.png">
                <p>【温州市】浙江温州公司已发出。</p>
                <span class="pic_tex"><img src="../../images/24.png"><span>2016-03-01   17:20:30</span></span>
            </div>
            <div class="text">
                <img class="ico ico1" src="../../images/quan2.png">
                <p>商家正在通知快递公司览件。</p>
                <span class="pic_tex"><img src="../../images/24.png"><span>2016-03-01   17:20:30</span></span>
            </div>
        </div>
    </div>

</div>
</body>
</html>