<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <title>我的团队</title>
    <style type="text/css">
        body {
            font-family: Consolas, '微软雅黑';
        }
    </style>
</head>
<body>

<div id="myteam">
    <div class="first">
        <form class="bs-example bs-example-form" role="form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
               <span class="input-group-btn">
                  <a href=""><img src="../../images/31.png"
                                  style="width:27px;height:27px;margin-left:10px;margin-right:10px;"></a>
               </span>
                        <input type="text" class="form-control" placeholder="请输入名字">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" style="color:#999999">取消</button>
                 </span>
                    </div>
                </div>
                <br>

            </div>
        </form>
    </div>
    <div class="cent">


        <div class="second">
            <div class="left">
                <a href=""><img src="../../images/bg_02.png"></a>
            </div>
            <div class="right">
                <p>
                    <span>Anana</span>
                    <span>落红不是无情物，化作春泥</span>
                </p>

                <p><img src="../../images/30.png"> <span>女</span>
                    <span>21岁</span></p>

            </div>
            <div class="sp">
                <span>&gt;</span>
            </div>
        </div>
        <div class="second">
            <div class="left">
                <a href=""><img src="../../images/bg_02.png"></a>
            </div>
            <div class="right">
                <p>
                    <span>Anana</span>
                    <span>落红不是无情物，化作春泥</span>
                </p>

                <p><img src="../../images/30.png"> <span>女</span>
                    <span>21岁</span></p>

            </div>
            <div class="sp">
                <span>&gt;</span>
            </div>
        </div>
        <div class="second">
            <div class="left">
                <a href=""><img src="../../images/bg_02.png"></a>
            </div>
            <div class="right">
                <p>
                    <span>Anana</span>
                    <span>落红不是无情物，化作春泥</span>
                </p>

                <p><img src="../../images/30.png"> <span>女</span>
                    <span>21岁</span></p>

            </div>
            <div class="sp">
                <span>&gt;</span>
            </div>
        </div>
        <div class="second">
            <div class="left">
                <a href=""><img src="../../images/bg_02.png"></a>
            </div>
            <div class="right">
                <p>
                    <span>Anana</span>
                    <span>落红不是无情物，化作春泥</span>
                </p>

                <p><img src="../../images/30.png"> <span>女</span>
                    <span>21岁</span></p>

            </div>
            <div class="sp">
                <span>&gt;</span>
            </div>
        </div>
        <div class="second">
            <div class="left">
                <a href=""><img src="../../images/bg_02.png"></a>
            </div>
            <div class="right">
                <p>
                    <span>Anana</span>
                    <span>落红不是无情物，化作春泥</span>
                </p>

                <p><img src="../../images/30.png"> <span>女</span>
                    <span>21岁</span></p>

            </div>
            <div class="sp">
                <span>&gt;</span>
            </div>
        </div>
        <div class="second">
            <div class="left">
                <a href=""><img src="../../images/bg_02.png"></a>
            </div>
            <div class="right">
                <p>
                    <span>Anana</span>
                    <span>落红不是无情物，化作春泥</span>
                </p>

                <p><img src="../../images/30.png"> <span>女</span>
                    <span>21岁</span></p>

            </div>
            <div class="sp">
                <span>&gt;</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>