<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <script rel="script" type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script rel="script" type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <title>评价订单</title>
    <style type="text/css">
        html, body {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: Consolas, '微软雅黑';
        }
    </style>
</head>

<body>
<div id="product_refund" class="">
    <div class="apply">评价订单</div>
    <div class="appl">评价内容</div>
	<textarea rows="10" cols="40"></textarea>
    <p style="text-align: right;margin-right: 3%;margin-top: 30%;">退款金额<a href="">$500</a></p>
    <footer style="position: fixed;bottom: 0;">确认评价</footer>
</div>
</body>
</html>
