<extend name="Base/common"/>

<block name="header">
</block>

<block name="body">

<div class="user-page">
	<div class="qiandao">
    	<div class="top">
        	<span class="icon-calendar"></span>
            <p class="time">2014-11-05<br />星期三</p>
            <p class="status"><span class="icon-ok"></span>&nbsp;已签到</p>
        </div>
        <div class="info">
        	<h2>签到成功</h2>
        	<p>今日已签到，明天继续！</p>
            <p>已连续签到4天，累计签到6天</p>
            <span>签到说明：每天签到将获得10积分，连续签到10天可额外获得50积分。</span>
        </div>
    </div>
    <div class="qiandao-list">
        <h2>签到记录</h2>
        <ul>
        	<li>
            	<p><em>签到类型：</em>每日签到&nbsp; <em>获得积分：</em><span>+10</span></p>
                <p class="time">2014-11-04 15:23:24</p>
            </li>
            <li>
            	<p><em>签到类型：</em>每日签到&nbsp; <em>获得积分：</em><span>+10</span></p>
                <p class="time">2014-11-04 15:23:24</p>
            </li>
            <li>
            	<p><em>签到类型：</em>每日签到&nbsp; <em>获得积分：</em><span>+10</span></p>
                <p class="time">2014-11-04 15:23:24</p>
            </li>
            <li>
            	<p><em>签到类型：</em>每日签到&nbsp; <em>获得积分：</em><span>+10</span></p>
                <p class="time">2014-11-04 15:23:24</p>
            </li>
        </ul>
    </div>
</div>

</block>