<extend name="Base/common"/>


<block name="body">
<div class="top-head">
	<div class="back"><a href="javascript:;" onclick="window.history.go(-1);">返回</a></div>
	<h2><eq name="type" value="0">退<else/>换</eq>货</h2>
</div>
<style>
.user-page .order .list ul li.listli
{ width:100%; height:auto; background:#fbfbfb; overflow:hidden; border-bottom:1px solid #bcbcbc; box-shadow:0px 0px 5px #c0c0c0; border-top:1px solid #bcbcbc; margin:0px 0px 10px 0px;}
.user-page .order .list ul li.listli .prolist
{ width:100%; height:auto; overflow:hidden; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding-bottom:10px;}
.user-page .order .list ul li.listli .prolist ul
{ list-style:none; padding:10px;}
.user-page .order .list ul li.listli .prolist ul li
{ width:100%; height:90px; background:#fff; float:left; text-align:center; line-height:18px; margin-right:10px; margin-top:0px; font-size:14px; position:relative;}
.user-page .order .list ul li.listli .prolist ul li .left
{ width:70px; float:left; margin-left:10px;}
.user-page .order .list ul li.listli .prolist ul li .right
{ float:left; margin-left:10px; text-align:left; line-height:25px;}
</style>
<form action="__SELF__" method="post" class="sqform">
<div class="user-page">
	<div class="order">
    	<div class="list">
        	<ul class="listul">
            	<empty name="list"><div style="text-align:center; margin-top:30px;">空空如也...</div></empty>
            	<volist name="list" id="list">
            	<li class="listli">
                	<div class="info">
                    	<p>订单号：<span>{$list.id}</span></p>
                        <p>订单金额：<span class="price">￥{$list.price}</span></p>
                        <p>下单时间：<span>{$list.create_time|time_format="Y-m-d H:i:s"}</span></p>
                        <p>支付方式：<span><eq name="list.payment" value="wechat">微信支付<else/>余额支付</eq></span></p>
                        <if condition="$list[status] gt 0 and $list[status] lt 2">
                        <neq name="list.express_time" value="0">
                        <a href="{:U('track?id='.$list['id'])}" class="genzhong">订单跟踪</a>
                        </neq>
                        </if>
                    </div>
                    <eq name="type" value="0">
                    <div class="type" style="width:95%; margin:0px auto; border-top:1px solid #ccc; padding-top:10px;">
                    	<h3 style="font-size:16px; margin:0px; padding:0px;">类型</h3>
                        <label style="margin-right:10px;" class="allpro"><input type="radio" name="thtype" value="allpro" class="thtype" checked="checked" />退全部产品</label><label style="margin-right:10px;" class="dpbtn"><input type="radio" name="thtype" class="thtype" value="dp" />退单品</label><label style="margin-right:10px;" class="youfei"><input type="radio" name="thtype" class="thtype" value="youfei" />退运费</label>
                    </div>
                    </eq>
                    <div class="prolist">
                    	<ul>
                        	<volist name="list.lists" id="lists">
                        	<li>
                            	<div class="left" style=" width: 18%;">
                                	<img src="{$lists.picture}" width="70" height="70">
                                </div>
                                <div class="right" style="float: left; width: 72%">
                                	<div class="title" style=" float:left; width: 100%; height: 25px; overflow:hidden; white-space:nowrap;"><strong style="width: 95%; height: 25px; display: block; white-space: nowrap; overflow: hidden;">{$lists.title}</strong></div>
                                    <div class="price">价格：{$lists.price}</div>
                                    <div class="length">
                                    	<span style="" class="sum" title="{$lists.length}">数量：{$lists.length}</span>
                                        <div class="selnum" style="display:none;">
                                        	<a href="javascript:;" class="jian" style="color:#333; font-size:24px; width:28px; height:25px; line-height:25px; text-align:center; display:block; float:left; border:1px solid #ccc; overflow:hidden;border-top-left-radius:5px; border-bottom-left-radius:5px;">-</a>
                                            <em style="float:left; margin-top:5px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; font-style:normal; width:50px; text-align:center; height:25px; line-height:25px; display:block;">{$lists.length}</em>
                                            <a href="javascript:;" class="jia" style="color:#333; font-size:18px; width:28px; height:25px; line-height:25px; text-align:center; display:block; float:left; border:1px solid #ccc; overflow:hidden;border-top-right-radius:5px; border-bottom-right-radius:5px;">+</a>
                                            <input type="hidden" name="num[]" class="numtxt" value="{$lists.length}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="check" style="position:absolute; right:10px; top:30px; display:none;">
                                	<label><input type="checkbox" name="ids[]" value="{$lists.id}" />&nbsp;选择</label>
                                </div>
                            </li>
                            </volist>
                        </ul>
                    </div>
                    <div style="clear:both"></div>
                    <div style=" padding:10px 10px 60px 10px;">
                    	<strong>申请理由：</strong><br />
                        
                        <input type="hidden" name="order_id" value="{$order_id}" />
                        <input type="hidden" name="sq_type" value="{$type}" />
                        <textarea style="width:100%; height:50px;" name="content"></textarea>
                        <input type="submit" value="提交申请" style="width:100%; height:40px; background:#ff0026; border:none; border-radius:3px; color:#fff; margin-top:20px;" />
                        </form>
                    </div>
                </li>
                </volist>
            </ul>
        </div>
    </div>
</div>
<script>
$(function(){
	
	$(".dpbtn").click(function(){
		$(".prolist ul li .check").show();
		$(".prolist ul li .sum").hide();
		$(".prolist ul li .selnum").show();
	});
	$(".allpro").click(function(){
		$(".prolist ul li .check").hide();
		$(".prolist ul li .sum").show();
		$(".prolist ul li .selnum").hide();
	});
	$(".youfei").click(function(){
		$(".prolist ul li .check").hide();
		$(".prolist ul li .sum").show();
		$(".prolist ul li .selnum").hide();
	});
	
	$(".jian").click(function(){
		var length = $(this).parent().parent().find(".sum").attr("title");
		var nowlength = $(this).parent().find(".numtxt").val();
		nowlength = parseInt(nowlength);
		if(nowlength>1){
			$(this).parent().find("em").html(nowlength-1);
			$(this).parent().find(".numtxt").val(nowlength-1);
		}
	});
	
	$(".jia").click(function(){
		var length = $(this).parent().parent().find(".sum").attr("title");
		var nowlength = $(this).parent().find(".numtxt").val();
		nowlength = parseInt(nowlength);
		if(nowlength<length){
			$(this).parent().find("em").html(nowlength+1);
			$(this).parent().find(".numtxt").val(nowlength+1);
		}
	});
	
	
	$(".queren").click(function(){
		var id = $(this).attr("title");
		if(confirm("未签收前确认收货可能会给您带来损失，确认收货？")){
			var url = "{:U('check_paypass')}";
			$.get(url,function(data){
				if(data=="false"){
					if(confirm("您还未设置支付密码，是否去设置？")){
						window.location.href="{:U('User/setpaypass')}";
					}
				}else if(data=="true"){
					window.location.href = "{:U('queren')}?id="+id;
				}
			});
		}
	});
});
</script>
</block>