<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script rel="script" type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script rel="script" type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <title>Document</title>
    <style type="text/css">
        body{
            font-family: Consolas, '微软雅黑';
        }
    </style>

</head>
<body>
<div id="product_list">
    <div class="pro_li">
        <div>
            <img src="../../images/aileilazhuangyuanjialiangganhong(2).jpg" alt="">
        </div>
        <div>
            <h4>爱蕾拉庄园佳酿干红</h4>

            <p>地区:<a href="">中国</a></p>

            <p>种类:<a href="">加强型</a></p>

            <p>色泽:<a href="">年份</a></p>

            <p>酒庄:<a href="">中国的卡卡果果</a></p>
            <a href="product_detail.html"><span>详情</span></a>
        </div>
    </div>
    <div class="pro_li">
        <div>
            <img src="../../images/bosikajiuzhuang.jpg" alt="">
        </div>
        <div>
            <h4>波斯卡酒庄普洛塞克起泡白葡萄酒</h4>

            <p>地区:<a href="">中国</a></p>

            <p>种类:<a href="">加强型</a></p>

            <p>色泽:<a href="">年份</a></p>

            <p>酒庄:<a href="">中国的卡卡果果</a></p>
            <a href="product_detail.html"><span>详情</span></a>
        </div>
    </div>
    <div class="pro_li">
        <div>
            <img src="../../images/diezhilanjialumeiguihong.jpg" alt="">
        </div>
        <div>
            <h4>蝶之兰佳露玫瑰红</h4>

            <p>地区:<a href="">中国</a></p>

            <p>种类:<a href="">加强型</a></p>

            <p>色泽:<a href="">年份</a></p>

            <p>酒庄:<a href="">中国的卡卡果果</a></p>
            <a href="product_detail.html"><span>详情</span></a>
        </div>
    </div>
    <div class="pro_li">
        <div>
            <img src="../../images/duoliyaluowa.jpg" alt="">
        </div>
        <div>
            <h4>多利亚诺瓦酒庄黑珍珠干红</h4>

            <p>地区:<a href="">中国</a></p>

            <p>种类:<a href="">加强型</a></p>

            <p>色泽:<a href="">年份</a></p>

            <p>酒庄:<a href="">中国的卡卡果果</a></p>
            <a href="product_detail.html"><span>详情</span></a>
        </div>
    </div>
    <div class="pro_li">
        <div>
            <img src="../../images/duoliyaluowajiuzhuang.jpg" alt="">
        </div>
        <div>
            <h4>多利亚诺瓦酒庄四季干白</h4>

            <p>地区:<a href="">中国</a></p>

            <p>种类:<a href="">加强型</a></p>

            <p>色泽:<a href="">年份</a></p>

            <p>酒庄:<a href="">中国的卡卡果果</a></p>
            <a href="product_detail.html"><span>详情</span></a>
        </div>
    </div>
    <div class="pro_li">
        <div>
            <img src="../../images/feixingmengjialiangzhengcang.jpg" alt="">
        </div>
        <div>
            <h4>飞行梦佳酿珍藏</h4>

            <p>地区:<a href="">中国</a></p>

            <p>种类:<a href="">加强型</a></p>

            <p>色泽:<a href="">年份</a></p>

            <p>酒庄:<a href="">中国的卡卡果果</a></p>
            <a href="product_detail.html"><span>详情</span></a>
        </div>
    </div>
</div>
</body>
</html>