<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script src="../../js/jquery-1.10.2.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <title>商品详情</title>
    <style type="text/css">
        html, body {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            color: #393939;
            font-family: Consolas, '微软雅黑';
            font-size: 14px;
        }
        #product_detail .detai {
            max-width: 100%;
            height: 250px;
            z-index: 100;
            background: url("../../images/details1.png") no-repeat;
            background-size: 100% auto;
        }
    </style>

</head>
<body>
<div id="product_detail">
    <div class="detai" id="bann">
        <a href="#"><img src="../../images/hldgd_03.png"></a>
    </div>
    <div class="tit">
        <img src="../../images/hshjdsjha_02.png" alt="">
        <h4 style="font-size: 18px">爱蕾拉庄园佳酿干红</h4>
        <h4 style="font-family: 'Microsoft YaHei';font-size: 12px">Reserve Mouton Cadet St.Emillon Red</h4>
        <span><a href="" style="font-size: 20px;margin-left: 14%">￥345</a></span>
        <span><a href="">木桐庄园</a></span>
    </div>
    <div class="lei">
        <div class="wid"></div>
        <div class="share">
            <a href="#">
                <img src="../../images/33.png">
                <span>分享</span>
            </a>
        </div>

        <span>年&nbsp;&nbsp;&nbsp;&nbsp;份：<a href="">2015-23-57</a></span>
        <span>类&nbsp;&nbsp;&nbsp;&nbsp;别：<a href="">填填</a></span>

        <span>产&nbsp;&nbsp;&nbsp;&nbsp;地：<a href="">中国</a></span>

        <span>级&nbsp;&nbsp;&nbsp;&nbsp;别：<a href="">A，O，C</a></span>
        <span>系&nbsp;&nbsp;&nbsp;&nbsp;列：<a href="">干红葡萄酒</a></span>
        <span>净含量：<a href="">中国</a></span>
        <span>酒精度：<a href="">填填</a></span>

        <p>葡萄种类：<a href="">葡萄品种：80%赛芙蓉(Semillon),15%长相思(Sauvignon Bl anc),5%密斯卡岱(Musc</a></p>
        </br>
        <p>酒评:<a href="">官方的一句话来评价红酒的东东官方的一句话来评价红酒的东东官方的一句话来评价红酒的东东</a></p></br>
    </div>
    <div class="alenx">
        <span>评价<a href="">(200)</a></span>

        <div class="discuss">
            <div>
                <div class="tit_bar"><img src="../../images/hfjrjrye_02.png" alt=""> Alenx</div>
                <p>真的横不错，是真的，是真的，是真的，是真的，重要的事情说三遍。。。</p>
            </div>
            <div class="move">
                <div>
                    <div class="tit_bar"><img src="../../images/hfjrjrye_02.png" alt=""> Alenx</div>
                    <p>真的横不错，是真的，是真的，是真的，是真的，重要的事情说三遍。。。</p>
                </div>
                <div>
                    <div class="tit_bar"><img src="../../images/hfjrjrye_02.png" alt=""> Alenx</div>
                    <p>真的横不错，是真的，是真的，是真的，是真的，重要的事情说三遍。。。</p>
                </div>
                <div>
                    <div class="tit_bar"><img src="../../images/hfjrjrye_02.png" alt=""> Alenx</div>
                    <p>真的横不错，是真的，是真的，是真的，是真的，重要的事情说三遍。。。</p>
                </div>
                <div>
                    <div class="tit_bar"><img src="../../images/hfjrjrye_02.png" alt=""> Alenx</div>
                    <p>真的横不错，是真的，是真的，是真的，是真的，重要的事情说三遍。。。</p>
                </div>
            </div>
        </div>
        <p>他们也评价了：
            <a href=""><img src="../../images/hfjrjrye_02.png" alt=""></a>
            <a href=""><img src="../../images/hfjrjrye_02.png" alt=""></a>
            <a href=""><img src="../../images/hfjrjrye_02.png" alt=""></a>
        </p>
        <button class="flip">查看全部评论</button>
    </div>
    <div class="pop_buycart">
        <div class="detil">
            <div>
                <img src="../../images/hfjrjrye_02.png" alt="">
                <span>$<a href=""></a>500</span>
				<span>
					<img src="../../images/sc_kc.png" alt="" style="    margin: 0px 0px -7px 2px;">
					库存<a href="">400</a>
				</span>

                <img src="../../images/ghsdhh_03.png" alt=""
                     style="width:30px;height:32px; float:right;margin-top: -62px;"
                     id="pop_close">
            </div>
            <p>配送</p>

            <div>至天府新区 <span>默认地址&gt;</span></div>
            <div class="much">
                <span>购买数量</span>

                <div>
                    <div class="jian">-</div>
                    <div class="num">1</div>
                    <div class="jia">+</div>
                </div>
            </div>
            <footer>
                确定
            </footer>
        </div>
    </div>
    <div class="bom">
        <a href="javascript:;"><a href="../User/pay_submit.html"><span id="pay_money" onclick="onPay()">立即购买</span></a></a>
        <a href="javascript:;"><a href="../User/add_cart.html"><span id="li_buy"
                                                                     onclick="shopCart()">加入购物车</span></a></a>
    </div>
    <div class="top"><a href="#bann"><img src="../../images/top.png"></a></div>
    <div><img src="../../images/hdsnfjrruu_02.png" alt=""></div>
    <div class="vessel">
        <div class="title">酒具推荐</div>
        <div><a href=""><img src="../../images/ghlsghds_02.png" alt=""></a></div>
        <ul id="ves">
            <a href="javascript:;">
                <li>开瓶器</li>
            </a>
            <a href="javascript:;">
                <li class="public_vess">醒酒器</li>
            </a>
            <a href="javascript:;">
                <li>酒杯</li>
            </a>
            <a href="javascript:;">
                <li>红酒塞</li>
            </a>
            <a href="javascript:;">
                <li>酒箱</li>
            </a>
        </ul>
        <div class="title">总计<a href="">220</a>元</div>
        <div class="mon">
            <div class="yuan">原价
                <del>789</del>
                元
            </div>
            <div class="now">现价<a href="">567</a>元</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function ($) {
        //查看全部评论
        $(".flip").click(function () {
            $(".move").slideToggle(500);
        });
        //加入购物车和购买按钮背景颜色切换
        var pay_money = document.getElementById("pay_money");
        var li_buy = document.getElementById("li_buy");

        function onPay() {
            this.style.backgroundColor = "red";
            li_buy.style.backgroundColor = "";
        }

        function shopCart() {
            this.style.backgroundColor = "red";
            pay_money.style.backgroundColor = "";
        }

        /*加入购物车js*/
        $("#li_buy").click(function () {
            $(".pop_buycart").show(300);

        });
        /*立即购买的js*/
        $("#pay_money").click(function () {
            $(".pop_buycart").show(300);

        });
        $("#ves>a>li").click(function () {
            console.log("fhsfkdsfj");
            $(this).addClass('public_vess').parent().siblings().children().removeClass('public_vess');
        });
        $("#pop_close").click(function (event) {
            $(".pop_buycart").hide(300);
        });
        $(".jia").click(function () {
            var numbers = $(this).prev().text();
            var jianum = parseInt(numbers) + 1;
            $(this).prev().text(jianum);
        });
        $(".jian").click(function () {
            var numbers = $(this).next().text();
            if (numbers == 1) {
                $(this).next().text(1);
            } else {
                var jiannum = parseInt(numbers) - 1;
                $(this).next().text(jiannum);
            }
        });

    });
</script>
</body>
</html>