<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>评价列表</h2>
	</div>
    <form action="{:U('prints/index')}" method="post" id="myform">
	<div class="cf">


    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected" width="20"><input class="check-all" type="checkbox"/></th>
        <th class="">编号</th>
        <th class="">产品名称</th>
        <th class="">评论用户</th>
		<th class="">评论内容</th>
        <th class="">评论时间</th>
        <th class="">是否对外展示</th>
		<th class="" width="60">操作</th>
		</tr>
    </thead>
    <tbody>
		<volist name="prints" id="list">
		<tr>
        <td><input  class="ids" type="checkbox" name="id[]" value="{$list.id}" /></td>
        <td>{$list.id}</td>
        <td><img src="{$list.pro_id|get_pro_cover}" width="80" style="vertical-align:middle;" />{$list.pro_id|get_pro_title}</td>
        <td>{$list.uid|get_nickname}</td>
        <td>{$list.content}</td>
        <td>{$list.create_time|date='Y-m-d',###}</td>
        <td>{$list.status|get_status_title}</td>
        <td><eq name="list.status" value="1"><a href="{:U('?action=delete&id='.$list['id'])}">隐藏</a><else/><a href="{:U('?action=open&id='.$list['id'])}">显示</a></eq></td>
        </tr>
    	</volist>
	</tbody>
    </table>
	</div>
    </form>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
       	query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	
    //导航高亮
    highlight_subnav('{:U('Prints/index')}');
	</script>
</block>
