<!DOCTYPE HTML>
<html class="no-js" lang="zh-CN">
<head>
	<include file="Public/head"/>
</head>
<body>

	<!-- 头部 -->
	<block name="header">
    <include file="Public/header"/>
    </block>
	<!-- /头部 -->
	
	<!-- 主体 -->
    <div id="main" >
	<block name="body">
    	
    </block>
    </div>
	<!-- /主体 -->

	<block name="footer">
	<div style=" clear:both; margin-bottom:72px;"></div>
    <div class="footer">
        <a href="{:U('index/index')}"<eq name="modelname" value="Indexindex"> class='focus'</eq> ><span class="icon-home"></span><br />首页</a>
        <a href="{:U('product/index')}" <eq name="modelname" value="Productindex"> class='focus'</eq>><span class="icon-th-large"></span><br />产品分类</a>
        <a href="{:U('Shopping/cart')}" <eq name="modelname" value="Shoppingcart"> class='focus'</eq>><span class="icon-shopping-cart"></span><br />购物车</a>
        <a href="{:U('User/index')}" <eq name="modelname" value="Userindex"> class='focus'</eq>><span class="icon-user"></span><br />个人中心</a>
    </div>
    </block>
    
	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->

</body>
</html>