<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>升级申请 </h2>
    </div>

    <div class="cf">
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="uid" class="search-input" value="{:I('uid')}" placeholder="请输入用户ID">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户</th>
                        <th>当前级别</th>
                        <th>升级至</th>
                        <th>申请时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
				<notempty name="list">
                <volist name="list" id="menu">
                    <tr>
                        <td>{$menu.id}</td>
                        <td><img src="{$menu.uid|get_face}" width="40" height="40" style="border-radius:5px;vertical-align:middle; margin-right:3px;" />{$menu.uid|get_nickname}</td>
                        <td>{$menu.group_id|get_group_title_by_id}</td>
                        <td>{$menu.to_group_id|get_group_title_by_id}</td>
                        <td>{$menu.create_time|time_format}</td>
                        <td><a href="{:U('tongguo?id='.$menu['id'])}" class="confirm" >通过</a>&nbsp;&nbsp;<a href="{:U('jujue?id='.$menu['id'])}" class="confirm ajax-get" >拒绝</a></td>
                    </tr>
                </volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
        	{$_page}
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('index')}');
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});
        });
    </script>
</block>