<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户列表<gt name="nowgroupid" value="11"><lt name="nowgroupid" value="14"> &nbsp;&nbsp;（我的消费:{$nowuid|get_yeji_by_uid}，团队业绩:{$nowuid|get_yeji}，总业绩:<?php echo get_yeji_by_uid($nowuid)+get_yeji($nowuid); ?>）</lt></gt><eq name="nowgroupid" value="16">（线上余额总计：￥{$countmoney}）</eq></h2>
	</div>
	<div class="cf">
    	<gt name="nowgroupid" value="13">
		<div class="fl">
            <a class="btn" href="{:U('User/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>
            <select class="sel_group">
            	<option value="__ACTION__" >所有分组</option>
                <volist name="grouplist" id="list">
                <option value="{:U('index?group='.$list[id])}" <if condition="$thisgroup eq $list[id]" > selected="selected" </if> > {$list.title}</option>
                </volist>
            </select>
        </div>
        
        <script>
        $(function(){
			$(".sel_group").change(function(){
				var value = $(this).val();
				location.href=value;
			})
		})
        </script>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
        	<div class="fr cf">
                <a class="btn confirm" href="{:U('User/exportRadio',array('method'=>'dcRadio'))}">导出</a>
			</div>
            
            
			<div class="btn-group-click adv-sch-pannel fr"  style="margin-right:20px;">
                <button class="btn">高 级<i class="btn-arrowdown"></i></button>
                <div class="dropdown cf">
                	<div class="row">
                		<label>注册时间：</label>
                		<input type="text" id="time-start" name="time-start" class="text input-2x" value="" placeholder="起始时间" /> -
                		<input type="text" id="time-end" name="time-end" class="text input-2x" value="" placeholder="结束时间" />
                	</div>
                	<div class="row">
                		<label>昵称查询：</label>
                		<input type="text" name="nickname" class="text input-2x" value="{:I('nickname')}" placeholder="请输入用户昵称">
                	</div>
                    <div class="row">
                		<label>电话查询：</label>
                		<input type="text" name="mobile" class="text input-2x" value="{:I('mobile')}" placeholder="请输入用户电话">
                	</div>
                </div>
            </div>
            <div class="sleft fr cf">
				<input type="text" name="uid" class="search-input" value="{:I('uid')}" placeholder="请输入用户编号">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
            
		</div>
        </gt>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">UID</th>
        <th class="">头像</th>
		<th class="">昵称</th>
        <th class="">电话</th>
        <th class="">用户组</th>
        <th class="">上级分组</th>
        <th class="">我的余额</th>
        <th class="">业绩积分</th>
        <neq name="nowgroupid" value="13">
            <neq name="nowgroupid" value="12">
        <th>扣除</th>
        </neq></neq>
		<th class="">个人业绩</th>
		<th class="">团队业绩</th>
        <th class="">状态</th>
		<th class="">注册时间</th>
        <th class="">查看</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
			<td>{$vo.uid} </td>
            <td><img src="<empty name="vo.headimgurl">__PUBLIC__/Admin/images/getheadimg.jpg<else/>{$vo.headimgurl}</empty>" width="40" height="40" style=" border-radius:5px;" /></td>
			<td>{$vo.nickname}</td>
            <td>{$vo.mobile}</td>
            <td>{$vo.group}</td>
            <td>{$vo.upgroup}</td>
            <td><label style="float:left;">￥{$vo.money}</label></td>
            <td><label style="float:left;">￥{$vo.xxmoney}</label></td>
            <neq name="nowgroupid" value="13">
            <neq name="nowgroupid" value="12">
            <td><form action="{:U('kouchu')}" method="post" class="form-horizontal{$vo.uid}" ><input type="text" value="0" name="money" class="text input-small" style="width:50px;" />&nbsp;<input type="hidden" name="uid" value="{$vo.uid}" /><button type="submit" class="btn confirm ajax-post"  target-form="form-horizontal{$vo.uid}" >扣除</button></form></td>
            </neq>
            </neq>
			<td>{$vo.uid|get_yeji_by_uid}</td>
			<td>{$vo.uid|get_yeji}</td>
            <td>{$vo.status|get_status_title}</td>
			<td><span>{$vo.uid|get_reg_time="Y-m-d H:i"}</span></td>
            <td>
            <a href="{:U('Order/index')}?search_uid={$vo.uid}">订单</a>&nbsp;&nbsp;&nbsp;
            <a href="{:U('Fy/index?uid='.$vo['uid'])}" class="confirm">分佣</a>&nbsp;&nbsp;&nbsp;
            <a href="{:U('User/team?uid='.$vo['uid'])}" class="confirm">团队（<?php echo count(get_all_team($vo['uid'])); ?>）</a></td>
			<td>
            	<eq name="nowuid" value="1">
                	<a href="{:U('User/edit?id='.$vo['uid'])}" class="confirm">编辑</a>
                    <eq name="vo.status" value="1">
                    <a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a>
                    <else/>
                    <a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">启用</a>
                    </eq>
                    <a href="{:U('User/deluser?id='.$vo['uid'])}" class="confirm ajax-get">删除</a>
                <else/>
            	<gt name="nowgroupid" value="13">
				<a href="{:U('User/edit?id='.$vo['uid'])}" class="confirm">编辑</a>
				<eq name="vo.status" value="1">
				<a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">启用</a>
				</eq>
				<a href="{:U('User/deluser?id='.$vo['uid'])}" class="confirm ajax-get">删除</a>
                </gt>
                </eq>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="16" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

	<script type="text/javascript">
	$(function(){
		$('#time-start').datetimepicker({
			format: 'yyyy-mm-dd',
			language:"zh-CN",
			minView:2,
			autoclose:true
		});
	
		$('#time-end').datetimepicker({
			format: 'yyyy-mm-dd',
			language:"zh-CN",
			minView:2,
			autoclose:true
		});
		
		//搜索功能
		$("#search").click(function(){
			var url = $(this).attr('url');
			var query  = $('.search-form').find('input').serialize();
			query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
			query = query.replace(/^&/g,'');
			if( url.indexOf('?')>0 ){
				url += '&' + query;
			}else{
				url += '?' + query;
			}
			window.location.href = url;
		});
		
		/* 状态搜索子菜单 */
		$(".search-form").find(".drop-down").hover(function(){
			$(this).find(".sub-sch-menu").removeClass("hidden");
		},function(){
			$(this).find(".sub-sch-menu").addClass("hidden");
		});
		$(".sub-sch-menu li").find("a").each(function(){
			$(this).click(function(){
				var text = $(this).text();
				$(this).parent().parent().parent().find(".sch-sort-txt").text(text).attr("data",$(this).attr("value"));
				$(this).parent().parent().parent().find(".sub-sch-menu").addClass("hidden");
			})
		});
		
		
		//回车自动提交
		$('.search-form').find('input').keyup(function(event){
			if(event.keyCode===13){
				$("#search").click();
			}
		});
		
		
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
