<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script src="../../js/jquery-1.10.2.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <title>小贴士</title>
    <style type="text/css">
        body {
            background-color: #fffff1;
            font-family: Consolas, '微软雅黑';
        }
    </style>

</head>
<body>
<div id="little_tips">
    <h2>《判断红酒年份的10个方法》</h2>
    <img src="../../images/hfhfh_02.png" alt="">
    <span> <a href="">2016-15-17</a>小贴士</span>

    <div class="lead">
        <img src="../../images/kifdsh_03.png" alt="">
        <p>有的人喜欢喝啤酒，冰镇过后配上下饭的湘菜，一个字，爽！有的人爱品葡萄酒，钟情那香醇后的缱绻余味会有所不同。今天，红酒百科全书将带来一些葡萄酒入门小常识，非常实用，值得收藏。</p>
    </div>
    <p class="source">来源：伽德红酒官方，未经许可，请勿商用</p>
    <h5> 一、看红酒的条码</h5>

    <p>有的人喜欢喝啤酒，冰镇过后配上下饭的湘菜，一个字，爽！有的人爱品葡萄酒，钟情那香醇后的缱绻余味。与啤酒不同的是，葡萄酒是用发酵葡萄汁酿成的酒精饮料（啤酒用的谷物），不过用来酿酒的葡萄与我们平常吃的葡萄（书面称为鲜食葡萄）会有所不同。今天，红酒百科全书将带来一些葡萄酒入门小常识，非常实用，值得收藏。</p>
    <div class="pic">
        <img src="../../images/kifdsh_07.png"/>
    </div>
    <h5> 一、看红酒的条码</h5>

    <p>有的人喜欢喝啤酒，冰镇过后配上下饭的湘菜，一个字，爽！有的人爱品葡萄酒，钟情那香醇后的缱绻余味。与啤酒不同的是，葡萄酒是用发酵葡萄汁酿成的酒精饮料（啤酒用的谷物），不过用来酿酒的葡萄与我们平常吃的葡萄（书面称为鲜食葡萄）会有所不同。今天，红酒百科全书将带来一些葡萄酒入门小常识，非常实用，值得收藏。</p>
    <div class="pic">
        <img src="../../images/kifdsh_07.png"/>
    </div>
</div>
</body>
</html>