<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>退/换货列表</h2>
	</div>
    
    <!-- 数据列表 -->
    <div class="data-table table-striped">
    
    
    <table class="ordertable">
    	<tbody>
        <empty name="ord">
        <tr><td colspan="8">空空如也...</td></tr>
        <else/>
        
        <volist name="ord" id="list">
        
    	<tr style="cursor:pointer;" class="ordertr">
        	<td>
            	<div class="userinfo">
                	<div class="img"><img src="<empty name="list.userinfo.headimgurl">__PUBLIC__/Admin/images/getheadimg.jpg<else/>{$list.userinfo.headimgurl}</empty>" /></div>
                    <div class="right">
                    	<div class="title"><span style="color:#09F;">{$list.userinfo.username}</span> <span style="color:#60F;">{:get_group_title_by_uid($list['userinfo']['id'])}</span></div>
                        <div class="tel"><span style="color:#F66;">{$list.userinfo.mobile}</span></div>
                    </div>
                </div>
            </td>
        	<td>订单编号：<strong style="color:#F00;">{$list.id}</strong></td>
            <td>订单总额：<strong style="color:#F33;">￥{$list.price}</strong></td>
            <td>订单状态：<strong style="color:#69F;">{$list.status|get_order_status}</strong></td>
            <td>下单时间：<strong style="color:#0C9;">{$list.create_time|time_format='Y-m-d H:i:s'}</strong>&nbsp;&nbsp;&nbsp;
            	<a href="{:U('tuikuan')}?id={$list.thid}&type=0" class="btn confirm ajax-get">全额退款</a>
                <a href="{:U('tuikuan')}?id={$list.thid}&type=1" class="btn confirm ajax-get">退产品款</a>
                <a href="{:U('tuikuan')}?id={$list.thid}&type=2" class="btn confirm ajax-get">退邮费</a>
                <a href="{:U('clth')}?id={$list.thid}" class="btn confirm ajax-get">已处理</a>
                <a href="{:U('closetk')}?id={$list.thid}" class="btn confirm ajax-get">关闭退款</a>
            </td>
        </tr>
        <tr><td colspan="8" style=" display:none;"></td></tr>
        <tr><td><strong>收件人信息</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收件人：<span style="color:#09C;">{$list.username}</span></td><td>电话：<span style="color:#069;">{$list.tel}</span></td><td colspan="2">地址：{$list.address}</td>
        	<td class="no">
           	<form action="{:U('update_express')}" method="post" class="update_express">
                快递方式：<strong style="color:#69F">{$list.express|get_express}</strong>&nbsp;&nbsp;&nbsp;
                <neq name="list.status" value="0">
                快递公司：
                <select class="express_com" name="express_com">
            	<volist name="exlist" id="explist">
                <option value="{$explist}" <eq name="list.express_com" value="$explist">selected="selected"</eq> >{$explist}</option>
                </volist>
                </select>
                <input type="hidden" name="id" value="{$list.id}" />
                &nbsp;快递单号：
                <input type="text" name="expressnum" value="{$list.expressnum}" class="express_num text input-small" />
                &nbsp;&nbsp;<input type="submit" value="确定" class="btn" target-form="update_express" />
                <notempty name="list.expressnum"><a href="{:U('show_express?id='.$list['id'])}" target="_blank" class="btn">查看快递信息</a></notempty>
                </neq>
            </form>
            
            </td>
        </tr>
        <tr><td colspan="8" style=" display:none;"></td></tr>
        <tr>
        	<td colspan="8">
            	<strong>申请：</strong><eq name="list.sq_type" value="0">退货<else/>换货</eq>&nbsp;&nbsp;&nbsp;
                <strong>退货类型：<eq name="list.thtype" value="allpro">退全部产品</eq><eq name="list.thtype" value="dp">退单品</eq><eq name="list.thtype" value="youfei">退邮费</eq></strong>&nbsp;&nbsp;&nbsp;
                <strong>退款价格：{$list.thprice}</strong>&nbsp;&nbsp;&nbsp;
                <strong>申请理由：</strong>{$list.content}
            </td>
        </tr>
        <tr>
        	<td colspan="8" style="height:0px;">
            	<table style=" display:none;" class="morelist">
                	<tr>
                    	<td>
                        	<h4>订单详情：</h4>
                            <div class="orderlist">
                            	<ul>
                                	<volist name="list['suborder']" id="li">
                                	<li>
                                    	<div class="left">
                                        	<div class="img"><img src="{$li.pic}" /></div>
                                        </div>
                                        <div class="right">
                                        	<div class="title">{$li.title}</div>
                                            <div class="price">价格：￥{$li.price}</div>
                                            <div class="num"><label>数量：<eq name="list.thtype" value="dp"><input type="text" value="{$li.length}" style="margin-left:5px; text-align:center;" size="5" /><a href="javascript:;" class="xiugai" title="{$li.id}" style=" margin-left:5px;">修改</a><else/>{$li.length}</eq></label></div>
                                        </div>
                                    </li>
                                    </volist>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </volist>
        </empty>
        </tbody>
    </table>
    
    
	
	</div>
    </form>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript">
	$(function(){
		$(".xiugai").click(function(){
			var id = $(this).attr("title");
			var num = $(this).parent().find("input").val();
			var url = "{:U('update_thlist')}?id="+id+"&num="+num;
			$.get(url,function(data){
				if(data=="1"){
					window.location.href = "__SELF__";
				}else{
					alert("修改失败！");
				}
			});
		});
	});
	$(".ordertr td").not(".no").click(function(){
		$(this).parent().next().next().next().next().next().find(".morelist").toggle();
	});

	
	</script>
</block>
