<extend name="Public/base" />

<block name="body">
<object id="WebBrowser" classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height="0" width="0"></object>
<div class="main-title">
	<h2>打印出货单 <a href="javascript:;" class="btn print" >打印</a> </h2>
</div>

<div class="cf">
        <a class="btn dz" href="javascript:;">电子面单</a>
        <a href="javascript:;" class="btn pt">普通面单</a>
</div>

<div class="putong" style="width:850px; height:467px; margin-top:20px; position:relative; display:none; background:url(__PUBLIC__/admin/images/putong.jpg) no-repeat;">
<!--startprint1-->
<div class="print">

	<div class="jijianren" style="position:absolute; left:120px; top:95px; font-weight:bold;">优享GO</div>
    <div class="jijiandizhi" style="position: absolute; left: 80px; top: 160px; font-size: 16px; font-weight: bold;">快递哥，包裹内为失传已久的“护肤珍品”<br>未免我主焦急等待，请速派~</div>
    <div class="jijiandianhua" style="position: absolute; left: 145px; top: 212px; font-weight: bold;">{:C('FJ_TEL')}</div>
	
    <div class="shoujianren" style="position: absolute; left: 460px; top: 120px; font-weight: bold;">{$info.username}</div>
    <div class="shoujiandizhi" style="position: absolute; left: 440px; top: 160px; font-weight: bold; width: 300px; height: auto; font-size:16px;">{$info.address}</div>
    <div class="shoujiandianhua" style="position: absolute; left: 500px; top: 215px; font-weight: bold; width: 250px; height: auto;">{$info.tel}</div>
    
</div>
<!--endprint1-->
</div>

<div class="dianzi" style="width:370px; height:618px; margin-top:20px; position:relative; background:url(__PUBLIC__/admin/images/dianzi.jpg) no-repeat;">
<!--startprint2-->
<div class="print">
    <div class="jijiandizhi" style="position: absolute; left: 40px; top: 130px; font-weight: bold;">快递哥，包裹内为失传已久的“护肤珍品”<br>未免我主焦急等待，请速派~</div>
    <div class="jijiandianhua" style="position: absolute; font-weight: bold; left: 40px; top: 169px;">寄件人：{:C('FAJIANREN')} 电话：{:C('FJ_TEL')}</div>
	
    <div class="shoujianren" style="position: absolute; left: 40px; top: 65px; font-weight: bold;">{$info.username}&nbsp;&nbsp;&nbsp;&nbsp;{$info.tel}</div>
    <div class="shoujiandizhi" style="position: absolute; left: 40px; font-weight: bold; width: 330px; height: auto; top: 85px;">{$info.address}</div>
    
</div>
<!--endprint2-->
</div>



<script language="javascript">
var oper = 2;
$(function(){
	$(".dz").click(function(){
		oper = 2;
		$(".putong").hide();
		$(".dianzi").show();
	});
	$(".pt").click(function(){
		oper = 1;
		$(".putong").show();
		$(".dianzi").hide();
	});
	$(".print").click(function(){
		preview(oper);
	});
});


function preview(oper){
  if (oper < 10){
	  var bdhtml=window.document.body.innerHTML;//获取当前页的html代码
	  var sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域
	  var eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域
	  var prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html
	  var prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
	  window.document.body.innerHTML=prnhtml;
	  window.print();
	  window.document.body.innerHTML=bdhtml;
  }
}
</script>

</block>