<extend name="Base/common"/>

<block name="header">
<div class="user-page-head">
	<div class="back"><a href="javascript:;" onclick="history.back();" class="icon-chevron-left"></a></div>
    <h2>{$info.title}</h2>
</div>
</block>

<block name="body">

<div class="user-page">
	<div class="jifen">
    	<h3>我的积分：{$info.score}</h3>
        <div class="p">
        	<strong>积分使用规则：</strong><br />
            各位亲爱的购购会员：<br />
			从2014年8月31日开始，新推出积分等值替换啦！<br />
			1）直接支付：积分可支付购购商城订单，在消费时100积分可抵1元现金，最高可冲抵结算金额的50%；<br />
			2）超值兑换：积分兑换大牌券，全网精选优惠券任意挑选；<br />
			3）超值商品：使用少量积分+现金，购买折扣热销商品；<br />
			4）以小博大，惊喜不断：20积分可抽500元现金券（抽现金劵）<br />
        </div>
    </div>


</div>

</block>