<extend name="Base/common"/>
<block name="body">

<div class="top-head">
	<div class="back"><a href="javascript:;" onclick="window.history.go(-1);">返回</a></div>
	<h2>订单跟踪</h2>
</div>
<style>
.track_list
{ width:90%; margin:0px auto;}
.track_list ul
{ list-style:none;}
.track_list ul li
{ border-bottom:1px dashed #ccc; padding-top:10px;}
</style>
<div class="track_list">
	<eq name="error" value="1" >
        <h3 style=" text-align:center; font-size:14px;">暂未发货，正在为您备货，请耐心等候</h3>
    <else/>
    
    <h4 style="font-size:16px;">快递公司：{$expinfo.express_com}&nbsp;快递单号：{$expinfo.expressnum}</h4>
    
    <eq name="result.error" value="1">
    	<h4 style="text-align:center; font-weight:normal; margin-top:10px;">通过接口暂未获取到快递信息，您可以尝试手动输入快递单1111号查询或稍后再试！</h4>
    <else/>
        <eq name="etype" value="kuaidi100">
            <ul>
                <volist name="result.data" id="list">
                <li>
                    <p><strong>时间：</strong>{$list.time}</p>
                    <p><strong>内容：</strong>{$list.context}</p>
                </li>
                </volist>
            </ul>
        </eq>
        
        <eq name="etype" value="baidu">
            <ul>
                <volist name="result.result.list" id="list">
                <li>
                    <p><strong>时间：</strong>{$list.time}</p>
                    <p><strong>内容：</strong>{$list.status}</p>
                </li>
                </volist>
            </ul>
        </eq>
    
    </eq>
    
    </eq>
</div>

</block>
<block name="footer"></block>